.navigation {
  width: 100vw;
  height: 80px;
}

@media (min-width: 1024px) {
  // .menu-title {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //   margin-bottom: 20px;
  //   font-size: 2em;
  //   text-align: center;
  //   font-weight: bold;
  // }

  .menu-title {
    display: none;
  }

  .title-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  // .menu-title {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //   margin-bottom: 20px;
  //   font-size: 1.5em;
  //   text-align: center;
  //   font-weight: bold;
  // }

  .menu-title {
    display: none;
  }

  .title-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .menu-title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    width: 100vw;
    background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
    color: white;
    font-weight: bold;
  }
}
