.homepage_card_img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.homepage_card_container {
  display: flex;
  flex-direction: column;
}

.homepage_card_title {
  font-size: 1.8em;
  font-weight: 600;
}

.homepage_card_description {
  font-size: 1.1em;
  font-weight: 400;
  color: #6c87ae;
  margin-bottom: 15px;
}
