.register-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register-form-button {
  display: block;
  margin: 0 auto;
}

.manager-register-form {
  display: flex;
}

.user-register-form {
  margin-right: 20px;
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
