.card-clinic-clinic-page-container {
  display: flex;
  width: 60vw;
  align-items: center;
  border: 1px solid #d6cbcb;
  border-radius: 10px;
  margin-bottom: 60px;

  .card-clinic-clinic-page-image img {
    height: 300px;
  }

  .card-clinic-clinic-page {
    line-height: 3em;
    margin-left: 20px;
    width: 50%;

    .card-clinic-clinic-page-name {
      font-size: 1.5em;
      font-weight: bold;
    }

    .card-clinic-location {
      display: flex;
      align-items: center;

      span {
        margin-right: 5px;
      }
    }
  }

  .card-clinic-clinic-page-button {
    display: flex;
    justify-content: flex-end;
  }
}
