.clinic-detail-page-information {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;

  .clinic-detail-page-information-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .clinic-detail-page-services {
    display: flex;
    overflow-x: auto;
  }

  .clinic-detail-page-information-name {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 40px;
    line-height: 2em;
  }

  .clinic-detail-page-information-district {
    font-size: 1.5em;
  }

  .clinic-detail-page-information-rating {
    margin-top: 10px;
    font-size: 1.5em;
  }

  .clinic-detail-page-information-address-pc div {
    padding: 15px 30px;
  }

  .clinic-detail-page-information-address-title {
    font-size: 2em;
    font-weight: bold;
  }
}

.clinic-detail-page-information-address-pc {
  background: #f8f8f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clinic-detail-page-information-address-mobile {
  display: none;
}

.clinic-detail-page-banner {
  margin-bottom: 40px;

  img {
    width: 100%;
    height: 100vh;
  }
}

.clinic-detail-page-services {
  display: flex;
  justify-content: space-around;

  img {
    width: 100%;
    height: 100%;
  }
}

.clinic-detail-page-services-title {
  font-size: 2em;
  font-weight: bold;
  margin: 40px;
}

.clinic-detail-page-service-container {
  background: #ffffff;
  border: 1px solid #e4e0e0;
  border-radius: 10px;
  margin-bottom: 100px;

  .clinic-detail-page-services {
    margin-bottom: 50px;
  }
}

.clinic-detail-page-description {
  background: #edf9ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 100px;
}

.clinic-detail-page-feedback-container {
  margin-bottom: 40px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .clinic-detail-page-information {
    .clinic-detail-page-information-name {
      font-size: 2.5em;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .clinic-detail-page-information {
    .clinic-detail-page-information-name {
      font-size: 3em;
    }

    .clinic-detail-page-information-img {
      display: flex;
      justify-content: center;

      img {
        width: 400px;
        height: 400px;
      }
    }
  }

  .clinic-detail-page-information-address-pc {
    display: none;
  }

  .clinic-detail-page-information-address-mobile {
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .clinic-detail-page-information-address-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 767px) {
  .clinic-detail-page-information {
    div {
      padding: 0px;
    }

    margin-bottom: 40px;

    .clinic-detail-page-information-img {
      display: flex;
      justify-content: center;

      img {
        width: 300px;
        height: 300px;
      }
    }

    .clinic-detail-page-information-name {
      font-size: 2em;
    }
  }

  .clinic-detail-page-banner {
    display: flex;
    justify-content: center;

    .ant-image-img {
      width: 80% !important;
    }
  }

  .clinic-detail-page-information-address-pc {
    display: none;
  }

  .clinic-detail-page-information-address-mobile {
    background: #f8f8f8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .clinic-detail-page-information-address-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}
