.anticon-info-circle {
  display: none;
}

.clinic-filter-part {
  background: #ffffff;
  border: 1px solid #d6cbcb;
  border-radius: 15px;
  height: auto;
  padding: 20px;
  line-height: 2.5em;
  width: 30vw;
  //   margin-top: 30px;
  margin-left: 60px;
  position: fixed;

  .clinic-filter-part-title {
    font-size: 1.8em;
    font-weight: bold;
  }

  .clinic-filter-part-subtitle {
    font-weight: 500;
    margin-bottom: 30px;
  }
}

.clinic-filter-part-mobile {
  .clinic-filter-part-title {
    font-size: 1.8em;
    font-weight: bold;
  }

  .clinic-filter-part-subtitle {
    font-weight: 500;
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .clinic-page {
    .clinic-filter-part {
      width: 30vw;
    }
  }

  .filter-icon {
    display: none !important;
  }

  .card-clinic-preview {
    margin-left: 37vw;
  }

  .mobile {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .clinic-filter {
    label {
      display: none !important;
    }
  }

  .filter-icon {
    display: none !important;
  }

  .mobile {
    display: none !important;
  }
  .clinic-page {
    .clinic-filter-part {
      width: 25vw;
    }

    .clinic-name {
      font-size: 1.4em !important;
    }

    .card-clinic-preview {
      margin-left: 35vw;
    }

    height: 500px !important;
  }

  .view-detail-btn {
    height: 30px !important;
    padding: 3px 10px 30px 10px !important;

    span {
      font-size: 0.8em !important;
    }
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .action-group-clinic-page {
    display: flex !important;
    justify-content: space-between !important;
  }

  .clinic-filter {
    label {
      display: none !important;
    }
  }

  .clinic-card-element {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .clinic-page {
    .ant-pagination {
      position: static !important;

      margin-left: 7.5%;
    }
  }

  .clinic-filter-part {
    // margin-left: 7.5% !important;
    // width: 85% !important;
    // height: auto !important;
    // position: static;
    display: none !important;
  }

  .card-clinic-preview {
    margin-left: 7.5% !important;
    width: 85% !important;
    margin-top: 15px !important;

    .clinic-card-element {
      width: 100% !important;
    }
  }
}

@media (max-width: 575px) {
  .action-group-clinic-page {
    display: flex !important;
    justify-content: space-between !important;
  }

  .clinic-card-element {
    display: none !important;
  }

  .clinic-filter {
    label {
      display: none !important;
    }
  }

  .mobile {
    display: flex !important;
  }
  .clinic-name {
    font-size: 1.2em !important;
    margin-bottom: 0px !important;
  }

  .clinic-filter-part-title {
    font-size: 1.5em !important;
  }

  .clinic-filter-part-subtitle {
    margin-bottom: 0px !important;
  }

  .clinic-address,
  .card-home-page-rating {
    font-size: 0.9em !important;
    margin-bottom: 0px !important;
  }

  .clinic-page {
    .ant-pagination {
      position: static !important;
      // margin-top: 50px;
      margin-left: 7.5%;
    }
  }

  .clinic-filter-part {
    // margin-left: 7.5% !important;
    // width: 85% !important;
    // height: auto !important;
    // position: static;
    display: none !important;
  }

  .card-clinic-preview {
    margin-left: 7.5% !important;
    width: 85% !important;
    margin-top: 15px !important;

    .clinic-card-element {
      width: 100% !important;
    }
  }

  .card-clinic-specialization {
    display: none !important;
  }
  .card-clinic-clinic-page-button {
    display: none !important;
  }
}
